<!DOCTYPE html>
<html>
  <head>
    <title>Letras</title>
  <script>
    function saludar(){
      var text=document.getElementById('text').value;
      var tags=document.getElementsByTagName('p');
      for(i=0; i<tags.length;i++){
        var p=tags[i], newp=document.createElement('p');
        newp.innerHTML=text;
        p.parentNode.replaceChild(newp, p);
      }
      console.log(tags);
    }
  </script>
  </head>
  <body>
    {% extends 'letters/base.html' %}
    {% block content %}
    <p id='result' style=''></p> 
    <p id='result' style=''></p> 
    {% endblock %}
  </body>
</html>

